.app {
    display: flex;
}

.sidebar {
    width: 200px;
    position: fixed; /* Fix the sidebar position */
    height: 100vh; /* Full height */
    top: 0;
    left: 0;
}

.content {
    
    width: calc(100% - 250px); /* Adjust width to avoid overflow */
}
.stat{
    margin-top:-100px;
}

